* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Noto Sans", Verdana, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 3vmax;
  margin-bottom: 3vmax;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  height: auto;
  border: solid 1px black;
}

.grid-pixel {
  aspect-ratio: 1/1;
}
