* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: "Noto Sans", Verdana, sans-serif;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header {
  color: white;
}

h1,
p {
  margin: 0.5rem;
}

h1 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 1vmax;
  margin-bottom: 1vmax;
  flex: auto;
  background-color: white;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
}

.flex-grid {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  width: 66vh;
  height: auto;
  border: solid 1px black;
}

.grid-pixel {
  aspect-ratio: 1/1;
}

img.github-logo {
  max-width: 24px;
}

footer {
  color: white;
}
